<div class="container">
  <div class='row'>
    <div class='col-lg-12'>
      <div class='pull-left'>
        <h3><i class='fa fa-users'></i>&nbsp;参加申請者一覧</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered ">
        <tr>
          <th>プロフィール画像</th>
          <th>申請者名</th>
          <th>申請時間</th>
          <th></th>
        </tr>
        <% @apply_users.each do |tuid, au| %>
          <tr>
            <td><%= image_with_dummy(au['profile_img_url'], {width: 45, height: 45}) %></td>
            <td><%= au['name']%></td>
            <td><%= au['applied_at'].strftime('%F %T') %></td>
            <td><%= link_to '承認する', permit_apply_teams_path(tuid: tuid), method: :post %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
