<div class="row">
  <div class="col-lg-12" style="text-align: center;">
    <h3>メンバーを追加</h3>
  </div>
  <hr/>
  <div class="col-lg-12" style="margin-top: 25px;">
    <h4><b>チームへの招待リンクを共有</b></h4>
    <div class="form-group">
      <textarea class="form-control" wrap="soft" readonly="readonly" onclick="this.focus();this.select()" style="display: inline-block;"><%= Rails.application.config.root_url %>/invites/member?uid=<%= current_user.id %>&tid=<%= @tid_h %></textarea>
    </div>
  </div>
</div>
