<div>こんにちは、スポコミュ事務局です。</div>
<div>このたび、チームに新しい参加申請が届いたのでお知らせします。</div>
<div><br></div>
<div>■□--------------------------------------</div>
<div>【チーム名】</div>
<div><%= @team_name %></div>
<div><br></div>
<div>【申請者名】</div>
<div><%= @user_name %></div>
<div>--------------------------------------</div>
<div><br></div>
<div>このメールにお心当たりがない場合は、あなたではない別の誰かが、誤ってこのメールアドレスを入力してしまった可能性があります。</div>
<div>大変お手数ではございますが、以下のお問い合わせ先までご連絡いただけますようお願い申し上げます。</div>
<div><br></div>
<div>◆お問い合わせ先</div>
<div>sports.x.community@gmail.com</div>
