<div class="container">
  <div class="row">
    <div class="loginForm" class="col-lg-offset-2 col-lg-8">
      <div class="capt">
        <span class="txt-caption">パスワードを忘れた？</span>
      </div>
      <div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="login-form-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="login-form-submit">
          <%= f.submit "パスワードリセットのメールを送信" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
