@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
*/

$mainColor: #4080FF;
$borderColor: #bdbdbd;
$borderLightColor: #ddd;
$buttonTextColor: #fff;
$selectDarkColor: #0F76BA;
$errorColor: #D9534F;
$errorDarkColor: #BF4945;
$successColor: #5cb85c;

.container {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}
h3 {
  margin-top: 10px;
  line-height: 1.4em;
}
h4 {
  font-size: 17px;
}
.row {
	margin-right: 0;
	margin-left: 0;
}
.clearfix {
	clear: both;
}
img {
	vertical-align: middle;
	border: 0;
}
.fa {
  padding-right: 5px;
}
.header {
    background: #fff;
    height: 60px;
    margin: 0;
    border-top: solid 1px $borderColor;
    border-bottom: solid 1px $borderColor;
    padding: 16px;
}
.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 4000;
	@media screen and (min-width: 769px){
		min-width: 1070px;
	}
	top: 0;
	border-width: 0 0 1px;
}
.no-decorate {
	outline: none;
	text-decoration: none;
	color: #616161;
}
 .pull-left {
 	float: left;
 }
 .pull-right {
 	float: right;
 }
.whole-container {
    min-height: 500px;
    padding-top: 60px;
    margin-bottom: 60px;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.text-center {
	text-align: center;
}
#loginForm, #userEditForm, #newEventForm {
	margin-top: 30px;
	margin-bottom: 30px;
	@media screen and (min-width: 769px) {
		padding: 30px;
		border: solid 1px $borderColor;
	}
}
.capt {
	margin-bottom: 12px;
}
.txt-caption {
	margin-right: 12px;
	font-size: 24px;
	font-weight: bold;
}
.fb-login {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #4568b2;
	text-align: center;
}
.fb-login a {
	display: block;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}
.login-or {
	margin: 20px 0;
	width: 100%;
	text-align: center;
}
.login-form-field {
	margin-bottom: 10px;
	input {
		border: solid 1px $borderColor;
		width: 100%;
		height: 50px;
		font-size: 20px;
		padding: 10px;
	}
}
.login-form-remember label {
	padding-left: 10px;
	font-weight: normal;
}
.login-form-submit, .new-group-submit, .new-event-submit {
	margin-top: 10px;
	input {
		background-color: #ff7e82;
		border: 0;
		width: 100%;
		height: 50px;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
	}
}
.login-password-forget {
	margin-top: 20px;
}
.back-btn {
	@media screen and (max-width:640px) {
		display: none;
	}
	padding: 0;
	margin-top: 40px;
	a {
		background-color: #f5f5f5;
		border: solid 1px $borderColor;
		color: #555;
		min-width: 110px;
		padding: 5px 8px;
		outline: none;
		cursor: pointer;
		text-align: center;
		display: inline-block;
		&:hover {
			text-decoration: none;
		}
	}
}
.custom-btn {
	min-width: 110px;
	padding: 10px 20px;
	font-size: 16px;
	outline: none;
	color: #fff;
	background-color: #4080FF;
	text-align: center;
	display: inline-block;
	&:hover,&:active {
		background: $selectDarkColor;
		color: $buttonTextColor;
	}
	&:focus {
		text-decoration: none;
	}
	&.error {
		background: $errorColor;
		&:hover, &:active {
			background: $errorDarkColor;
		}
	}
	&.success {
		background-color: $successColor;
	}
}
.event-btn, .entry-btn {
	text-align: center;
	a {
		width: 100%;
	}
}
#clubInfo {
	margin-top: 50px;
	.club-img {
		text-align: center;
		width: 20%;
		img {
			width: 150px;
			height: 150px;
		}
	}
}
#welcomeHeader {
	padding: 50px 25px 0 25px;
	width: 70%;
	h1 {
		font-size: 38px;
		line-height: 56px;
		color: #4848;
		font-weight: 300;
		span {
			font-weight: 700;
			color: #1085D4;
		}
	}
}
#teamSearch {
  margin-top: 25px;
  text-align: center;
  input[type=text] {
    border: solid 1px $borderColor;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
  }
}
#teamListTitle {
  margin-top: 0;
}
#calendar {
	margin-top: 40px;
}
.event-setting-calendar {
	width: 60%;
	height: 26px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 30px;
	border: solid 1px $borderColor;
}
.event-setting-time {
	width: 30%;
	height: 26px;
	background-color: #fff;
}
.btn-margin {
	margin-right: 10px;
}
#selectRegGroup, #selectSearchGroup {
	margin-top: 30px;
	text-align: center;
	a {
		display: block;
		color: #fff;
	}
	h4 {
		padding: 20px 0;
		font-weight: bold;
	}
	p {
		text-align: center;
		font-size: 14px;
		margin-bottom: 20px;
	}
	div.custom-btn {
		margin-bottom: 20px;
	}
}
.bg-white {
	padding: 30px 0;
}
.bg-lgray {
	margin-top: 25px;
	background-color: #f5f5f5;
	@media screen and (min-width: 769px){
		padding: 30px 0;
	}
}
#welcomeMain {
	display: block;
	#welcomeMainImg {
		margin-top: 20px;
		padding: 0 15px;
		text-align: center;
		img {
			border: solid 1px $borderColor;
			width: 100%;
		}
	}
	#welcomeMainDesc {
		padding: 15px;
		h1 {
			margin-top: 5px;
			font-size: 25px;
			line-height: 36px;
			color: #4848;
			font-weight: 300;
			span {
				font-weight: 700;
				color: #1085D4;
			}
		}
	}
}
#userRegisterBtn, #userLoginBtn {
	margin-top: 10px;
	text-align: center;
	a.custom-btn {
		width: 100%;
	}
}
#userLoginBtn a.custom-btn {
	border: solid 1px #1085D4;
	color: #1085D4;
	background-color: #fff;
}
#eventCommentInfo {
	margin-top: 25px;
}
#commentSubmitBtn {
	text-align: center;
	margin-top: 5px;
	input {
		min-width: 110px;
		padding: 5px 20px;
		font-size: 15px;
		outline: none;
		color: #fff;
		background-color: #4080FF;
		text-align: center;
		display: inline-block;
		border: none;
	}
}
#commentList {
	padding: 0;
	margin-top: 10px;
	li {
		list-style-type: none;
		border: solid 1px $borderColor;
		padding: 10px;
		margin-bottom: 10px;
		.commentInfo {
			span {
				margin-left: 15px;
				color: #ccc;
			}
		}
	}
}
#footer {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #fff;
  border-top: solid 1px $borderColor;
  ul {
    list-style-type: none;
    li {
      width: 25%;
      float: left;
      margin-top: 7px;
      text-align: center;
      a {
        display: block;
        color: #696969;
      }
    }
  }
}
#homeContents {
  .pc {
    @media screen and (max-width:640px) {
      display: none;
    }
  }
}
#teamContents {
	.pc {
		@media screen and (max-width:640px) {
			display: none;
		}
	}
}
.alert {
	margin-bottom: 0;
}
#newGroupBtn {
	margin: 35px auto 0 auto;
	border: solid 1px $borderColor;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	a {
		display: block;
		font-size: 18px;
		color: #3e515c;
	}
	@media screen and (min-width:769px) {
		width: 30%;
	}
}
.data-contents-row {
	font-size: 1.6rem;
	display: table;
	width: 100%;
	padding: 10px;
	.data-contents-label {
		display: table-cell;
		width: 30%;
		text-align: right;
		padding-right: 20px;
		vertical-align: middle;
	}
	.data-contents-data {
		display: table-cell;
		word-break: break-all;
	}
}
.label {
	margin-left: 5px;
}
.share-btn {
	list-style-type: none;
	li {
		float: left;
		width: 50%;
		background-color: #f5f5f5;
	}
}
#teamApply {
  margin-bottom: 15px;
  text-align: center;
  input {
    width: 70%;
  }
}
.apply-check {
  text-align: center;
}
#requestView {
  margin-top: 25px;
  padding: 0 0 0 40px;
  background-color: #4080ff;
  border: solid 1px #4080ff;
  border-radius: 3px;
  i {
    color: #fff;
    float: left;
    margin: 13px 0 0 -26px;
  }
  .request-text {
    padding: 10px;
    background-color: #fff;
    a {
      color: #4267b2;
      font-weight: bold;
    }
  }
}
.nav-account {
  .dropdown-toggle {
    line-height: 28px;
    cursor: pointer;
    font-size: 16px;
    .header-caret {
      margin-top: 12px;
      margin-right: 5px;
    }
  }
  .dropdown-menu {
    z-index: 5000;
  }
}
#teamInfoTable {
  margin-top: 20px;
  td.img {
    text-align: center;
  }
}
#teamImage, #accountImage {
  margin-top: 20px;
  text-align: center;
  label {
    font-weight: normal;
    margin-top: 15px;
    display: block;
    color: blue;
    #teamImageFile {
      display: none;
    }
  }
}
#teamInfo, #accountInfo {
  margin-top: 20px;
  p {
    border-bottom: solid 1px $borderColor;
  }
  .name, .location {
    margin-top: 15px;
    input {
      width: 100%;
      outline: 0;
      border-width: 0 0 1px;
      border-color: $borderColor;
    }
  }
  .sport, .pref {
    margin-top: 15px;
    select {
      border: solid 1px $borderColor;
      width: 100%;
      height: 25px;
      border-radius: 0;
    }
  }
  .submit {
	margin-top: 20px;
    text-align: center;
	input {
		border: 0;
	}
  }
}
.team-list-table {
  .team-img {
    width: 30%;
  }
}
#teamFormHeader, #eventFormHeader {
  margin-top: 10px;
  background-color: #f5f5f5;
  border-left: solid 5px #4080FF;
  h4 {
    padding: 10px;
  }
}
#eventForm {
  .subject {
    input {
      width: 100%;
      outline: 0;
      border-width: 0 0 1px;
      border-color: $borderColor;
    }
  }
  .date, .time {
    margin-top: 15px;
    select {
      border: solid 1px $borderColor;
      width: 60px;
      height: 25px;
      border-radius: 0;
    }
  }
  .body {
    margin-top: 15px;
    textarea {
      width: 100%;
      border: solid 1px $borderColor;
	}
  }
  .submit {
	margin-top: 20px;
    text-align: center;
	input {
		border: 0;
	}
  }
}
#eventParticipate {
	text-align: center;
}
#teamEventList {
  margin-top: 20px;
  width: 100%;
  list-style-type: none;
  li {
    padding: 5px 15px;
    border-top: solid 1px #ddd;
  }
}
