#welcomeHeader {
	padding: 50px 25px 0 25px;
	width: 70%;
	h1 {
		font-size: 38px;
		line-height: 56px;
		color: #4848;
		font-weight: 300;
		span {
			font-weight: 700;
			color: #1085D4;
		}
	}
}
#welcomeSearch {
	padding: 50px 25px 0 25px;
	text-align: center;
	select {
		width: 60%;
		height: 46px;
	}
}
