<p><%= @resource.email %> 様</p>

<p>スポコミュ事務局です。</p>

<p>以下のリンクからパスワード変更が可能です。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>パスワードは、上記のリンクから新しいものに変更されるまで、変更されることはございません。</p>
